{% extends 'main.html' %}

{% load static %}

{% block content %}
<p>{{ question.pub_date | date:"d/m/Y H:i" }} Votes: {{ question.rating }}
    {% if user.is_authenticated %}
    <a href="{{ question.id }}/vote_up">UP</a>
    <a href="{{ question.id }}/vote_down">DOWN</a>
    {% endif %}
</p>
<h3>{{ question.title }}</h3>
<p>{{ question.text }}</p>
<p>
{% for tag in question.tags.all %}
    <button class="badge badge-info">{{ tag }}</button>
{% endfor %}
</p>
<h4>Ответы</h4><hr>
{% for answer in answers %}
    <div class="row">
        <div class="col-1">
            {{ answer.rating }}
            {% if user.is_authenticated %}
            <form method="post" action="vote_answer/{{ question.id }}/{{ answer.id }}/up" >
            {% csrf_token %}
            <input type="submit" value="Up">
            </form>

            <form method="post" action="vote_answer/{{ question.id }}/{{ answer.id }}/down" >
            {% csrf_token %}
            <input type="submit" value="Down">
            </form>
            {% endif %}
        </div>
        <div class="col-1">
            {% if answer.is_right %}<img width="30" src="{% static 'images/right.jpg' %}">{% endif %}
        </div>
        <div class="col-1">
            <a href="/user/{{ answer.author.id }}">{{ answer.author }}</a>
        </div>
        <div class="col-2">
            {{ answer.date | date:"d/m/Y H:i" }}
        </div>
        <div class="col-7">
            {{ answer.text }}
        </div>
    </div><hr>
{% endfor %}
<p>Ваш ответ:</p>
<form action="{{ question.id }}/add_answer" method="post">
    {% csrf_token %}
    {{ form.text }}<br>
    <input type="submit" class="btn btn-success" value="Добавить">
</form>
{% endblock %}
