{% extends 'main.html' %}

{% block content %}

{% if not user.is_authenticated %}
<h3>Регистрация</h3>
<form method="post" action="{% url 'registration' %}" style="width: 500px;" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="form-group">
        <label for="login">Login</label>
        {{ form.username }}
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label for="password2">Repeat password</label>
        {{ form.password2 }}
    </div>
    <div class="form-group">
        <label for="avatar">Avatar</label>
        {{ form.avatar }}
    </div>
    <input class="btn btn-success" type="submit" value="registration" />
</form>

{% endif %}

{% endblock %}
{% block login %}
{% endblock %}